.nav
    position: fixed
    width: 100%
    z-index: 10
    background-color: #fff
    &__list
        margin-top: 16px
        list-style: none
        padding-left: 32px
        height: 32px
    &__item
        width: 90px
        height: 40px
        border-radius: 10px
        display: inline
        padding: 10px 18px
        transition: all 0.3s
        a
            font-weight: 400
            font-size: 16px
            color: #232323
            text-decoration: none
            transition: all 0.3s
        &:hover
            background: linear-gradient(258.77deg, rgba(55, 192, 239, 0.6) 0%, rgba(170, 168, 253, 0.6) 48.01%, rgba(43, 148, 184, 0.6) 100%)
            a
                color: #F9F9F9